@import url('https://fonts.googleapis.com/css2?family=Chicle&family=DynaPuff:wght@400..700&display=swap');

#button { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: ease-in 0.5s;
}

#button:hover {
  transform: scale(1.05);
}

#buttonTitle {
  text-decoration: none;
  text-align: center;
  color: #f5ebe0;
}

#buttonImage{
  width: 100px;
  height: 100px;
  align-items: center;
}

a {
  text-decoration: none;
}

#buttonComponent { 
  display: flex;
  gap: 150px;
  margin: 70px;
}

#daisys {
  z-index: -1;
  position: fixed;
  top: 75px;
  left: 250px;
  height: 250px;
  width: auto;
}

#daisys2{
  z-index: -1;
  position: fixed;
  top: 75px;
  right: 250px;
  height: 250px;
  width: auto;
  transform: rotate(67deg);
}

p {
  text-align: center;
  font-family: "DynaPuff", system-ui;
}

@media only screen and (max-width: 1080px){
    #buttonComponent{
        flex-direction: column;
    }

    body { 
        overflow: auto;
    }

    #daisys {
        display: none;
    }

    #daisys2 {
        display: none;
    }
}