@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #f5ebe0;
  font-family: "Chicle", serif;
  text-align: center;
}

p {
  color: #f5ebe0
}

#passwordCheck{
  margin: 30px 0;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #f5ebe0;
  font-family: "Chicle", serif;
  font-size: larger;
}

#passwordCheck:active{
  background-color: #f5e2ff;
  transform: translateY(4px);
}

#password {
  border-width: 1px;
  border-style: solid;
  border-color: #f5ebe0;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
  color: black;
  display: block;
  width: 100%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
  background-color: #f5ebe0;
  font-family: "Chicle", serif;   
  text-align: center;   
}

#password::placeholder{
  text-align: center;
  color: black;
}

#password:focus{
    outline: none;
    border-color: #f5ebe0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/background1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  animation: switchBg 4s infinite alternate;
}

@keyframes switchBg {
  0% {
    background-image: url('./assets/background1.svg');
  }
  100% {
    background-image: url('./assets/background2.svg');
  }
}